<h3>Data Collection and Mapping</h3>

<p>Our first assignment addressed researching the various physical aspects that exist within Chinatown.</p>

<br>

<div class="posts">
  <div class="post">
    <a href="/research/streetscapes.html" class="post-link">
      <h4 class="h4 r700">Streetscapes</h4>
      <p class="post-summary">Analyzing the street through symbology and section</p>
    </a>
  </div>

  <div class="post">
    <a href="/lane-networks.html" class="post-link">
      <h4 class="h4 t1">Lane Networks</h4>
      <p class="post-summary">Exploring the hidden spaces and networks</p>
    </a>
  </div>

  <div class="post">
    <a href="/research/greenways.html" class="post-link">
      <h4 class="h4 g1">Green Ways and Spaces</h4>
      <p class="post-summary">Tradition + Typologies</p>
    </a>
  </div>

  <div class="post">
    <a href="/research/wallscapes.html" class="post-link">
      <h4 class="h4 o1">Wallscapes</h4>
      <p class="post-summary">A study of the facades, materials, and storefronts</p>
    </a>
  </div>  

  <div class="post">
    <a href="/research/roofscapes.html" class="post-link">
      <h4 class="h4 b1">Roofscapes</h4>
      <p class="post-summary">Examining the character of the building rooflines</p>
    </a>
  </div>

  <div class="post">
    <a href="/connect-to-city.html" class="post-link">
      <h4 class="h4 ro1">Connection to City</h4>
      <p class="post-summary">An analysis of Chinatown’s undefined boundaries</p>
    </a>
  </div>
  </div>