<h3>Precedent Studies</h3>

<p>Our second assignment looked at various housing types from different regions of the world. These precedents were grouped into three types based on geometric organization. The Donut, The Sponge and the Ad Hoc were the 3 spatial types we examined.</p>
<br>

<h4 class="h4 py1 r700 border-bottom">The Donut</h4>
<div class="posts">
  <div class="post">
    <a href="/precedent/lacorteverde.html" class="post-link">
      <h4 class="h4 dark-gray">La Corte Verde</h4>
      <p class="post-summary">Cino Zucchi Architetti</p>
    </a>
  </div>

  <div class="post">
    <a href="/precedent/inakasa.html" class="post-link">
      <h4 class="h4 dark-gray">Inakasa Building</h4>
      <p class="post-summary">Alexis López Acosta</p>
    </a>
  </div>
</div>  

<h4 class="h4 py1 g1 border-bottom">Ad Hoc</h4>
<div class="posts">
  <div class="post">
    <a href="/precedent/sarugaku.html" class="post-link">
      <h4 class="h4 dark-gray">Sarugaku</h4>
      <p class="post-summary">Akihisa Hirata</p>
    </a>
  </div>

  <div class="post">
    <a href="/precedent/kilpailuohjelma.html" class="post-link">
      <h4 class="h4 dark-gray">Kilpailuohjelma</h4>
      <p class="post-summary">modostudio</p>
    </a>
  </div>

  <div class="post">
    <a href="/precedent/ijburg.html" class="post-link">
      <h4 class="h4 dark-gray">Ijburg Blok 65b Mura</h4>
      <p class="post-summary">Moriko Kira</p>
    </a>
  </div>

  <div class="post">
    <a href="/precedent/formosa.html" class="post-link">
      <h4 class="h4 dark-gray">Formosa 1140</h4>
      <p class="post-summary">LOHA Architects</p>
    </a>
  </div>
  </div>


<h4 class="h4 py1 o1 border-bottom">Sponge</h4>
<div class="posts">
  <div class="post">
    <a href="/precedent/stitch.html" class="post-link">
      <h4 class="h4 dark-gray">Stitch</h4>
      <p class="post-summary">Chiba Manabu</p>
    </a>
  </div>

  <div class="post">
    <a href="/precedent/mountain.html" class="post-link">
      <h4 class="h4 dark-gray">Mountain Dwellings</h4>
      <p class="post-summary">BIG</p>
    </a>
  </div>

  <div class="post">
    <a href="/precedent/funen.html" class="post-link">
      <h4 class="h4 dark-gray">Funen Blok K - Verdana</h4>
      <p class="post-summary">NL Architects</p>
    </a>
  </div>  

</div>

</div>  